# 1. PostgreSQL (Base de datos de la plataforma y de Temporal)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_DB=cloud_g3

APP_DB_USER=cloud_admin
APP_DB_PASSWORD=change-me

TEMPORAL_DB_USER=temporal
TEMPORAL_DB_PASSWORD=change-me

# 2. Temporal Server y UI
TEMPORAL_VERSION=1.31.0
TEMPORAL_ADMINTOOLS_VERSION=1.31.0
TEMPORAL_UI_VERSION=2.55.0
TEMPORAL_UI_PORT=8080

# 3. Orquestador (Slice Manager y Worker)
ORCHESTRATOR_TEMPORAL_NAMESPACE=default
ORCHESTRATOR_TEMPORAL_TASK_QUEUE=orchestrator-queue
ORCHESTRATOR_INTERNAL_SERVICE_TOKEN=change-me-internal-token
APPROVAL_TIMEOUT_SECONDS=86400

# 3.1 Network Manager (worker Temporal de allocations)
NETWORK_MANAGER_TEMPORAL_TASK_QUEUE=orchestrator-queue
NETWORK_MANAGER_PRIVATE_P2P_BASE=192.168.1.0/24
NETWORK_MANAGER_PUBLIC_VID=4000

# 4. Directorio de Claves Criptográficas y Certificados TLS
EDGE_KEYS_DIR=./AuthAuthz/keys      #/opt/cloud-g3/keys

# Rutas dentro del contenedor
JWT_PRIVATE_KEY_PATH=/run/edge-keys/jwt-private.pem
JWT_PUBLIC_KEY_PATH=/run/edge-keys/jwt-public.pem
TLS_CERT_PATH=/run/edge-keys/edge.crt
TLS_KEY_PATH=/run/edge-keys/edge.key
CA_CERT_PATH=/run/edge-keys/ca.crt

# 5. Microservicio AuthAuthz (Stateful)
ACCESS_TTL_MIN=15
REFRESH_TTL_DAYS=7
LOGIN_ATTEMPTS_PER_MINUTE=5

# 6. Edge API Gateway (HTTPS 8443)
EDGE_PORT=8443
INTERNAL_SERVICE_TOKEN=change-me-internal-token
CORS_ORIGINS=["http://localhost:5173", "http://localhost:3000"]

# Upstreams internos HTTP en la red Docker
AUTH_URL=http://auth:8000
UPSTREAM_SLICE_MANAGER_URL=http://slice-manager:8000
UPSTREAM_CRUDS_URL=http://crud-service:8001
IMAGE_MANAGER_URL=http://imagemanager:8000
NETWORK_MANAGER_URL=http://networkmanager:8000